<div class="jumbotron">
  <h1 class="display-4">CSC 675 - PROJECT</h1>
  <p class="lead">The database model for NBA teams</p>
  <hr class="my-4">
  <p id="test">Our database describes a very high-level network of relationships between the most outwardly-visible components of an NBA franchise.  Generally speaking, all NBA franchises maintain the same relationships with the same entities that are described in our diagram -- a mascot (or at minimum, a logo), contracted players, and hired coaches who coach the players.  The required data can be accessed from publicly available franchise information maintained by all NBA franchises.  A currently maintained list of players and coaches can be found on franchise websites.</p>
  <a class="btn btn-primary btn-lg" href="https://github.com/khanhngg/CSC675-project-phase2" role="button">GitHub</a>
</div>