<h1><%= tableName %> Table</h1>
<% let headers = []; %>
<%
Object.keys(result[0]).forEach((attribute) => {
  headers.push(attribute);
});
%>
<table class="table table-hover">
  <thead>
    <tr>
      <% headers.forEach(header => { %>
        <th scope="col"><%= header %></th>
      <% }) %>
    </tr>
  </thead>
  <tbody>
    <% result.forEach(row => { %>
      <tr>
        <% for (const attribute in row) { %>
          <td><%= row[attribute] %></td>
        <% } %>
      </tr>
    <% }) %>
  </tbody>
</table>